@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: 'Binggrae-Bold';
  src: url("../font/BinggraeSamanco-Bold.otf") format("truetype");
}

@font-face {
  font-family: 'Binggrae';
  src: url("../font/Binggrae.otf") format("truetype");
}

html, body {
  height: 100%;
}

body {
  color: #222;
}

html, body, p, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #222;
  transition: .5s;
}

a:hover {
  color: #ed1c24;
}

.gbtn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #ec1d25;
  color: white;
  border: 1px solid #ec1d25;
}

.gbtn:hover {
  background: white;
  color: #ec1d25;
}

.box:nth-of-type(2) .gbtn {
  background: #0b8249;
  color: white;
  border: 1px solid #0b8249;
}

.box:nth-of-type(2) .gbtn:hover {
  background: white;
  color: #0b8249;
}

.box:nth-of-type(3) .gbtn {
  background: #823b0b;
  color: white;
  border: 1px solid #823b0b;
}

.box:nth-of-type(3) .gbtn:hover {
  background: white;
  color: #823b0b;
}

.box:nth-of-type(4) .gbtn {
  background: #7aba0a;
  color: white;
  border: 1px solid #7aba0a;
}

.box:nth-of-type(4) .gbtn:hover {
  background: white;
  color: #7aba0a;
}

.box:nth-of-type(5) .gbtn {
  background: #f64e5a;
  color: white;
  border: 1px solid #f64e5a;
}

.box:nth-of-type(5) .gbtn:hover {
  background: white;
  color: #f64e5a;
}

.box:nth-of-type(6) .gbtn {
  background: #ff6e2e;
  color: white;
  border: 1px solid #ff6e2e;
}

.box:nth-of-type(6) .gbtn:hover {
  background: white;
  color: #ff6e2e;
}

.box {
  display: flex;
}

.box .items {
  box-sizing: border-box;
  padding: 50px;
  flex: 100%;
  flex-shrink: 0;
  font-size: 18px;
}

.box .items .title {
  font-size: 26px;
}

.box .items img {
  display: block;
  margin: auto;
  width: 365px;
  height: 470px;
}

.box.items_2 .items {
  flex: 50%;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border: 0;
}

table + .gbtn {
  margin-top: 20px;
}

table + .gbtn.right {
  float: right;
}

table th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
}

table td {
  padding: 15px;
  height: 30px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  color: #222;
  border-bottom: 1px solid #f0f0f0;
}

.tbl-header {
  background-color: #ec1d25;
}

.tbl-content {
  margin-top: 0;
}

dl {
  margin: 50px auto;
}

dl dt {
  font-size: 18px;
  text-indent: 3em;
  color: white;
  line-height: 35px;
  height: 35px;
  cursor: pointer;
  background: #ec1d25;
}

dl dd {
  height: 300px;
  background: #f1f1f1;
}

dl dd p {
  text-indent: 1em;
  padding: 20px;
}

.map-info-window {
  width: 150px;
  text-align: center;
  padding: 6px 0;
}

#wrap {
  width: 1320px;
  margin: 0 auto;
}

#wrap #header {
  position: relative;
  height: 100px;
}

#wrap #header #top-logo {
  float: left;
  background-image: url("../img/logo_pc.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 128px;
  height: 100%;
}

#wrap #header #top-logo a {
  display: block;
  height: 100%;
  width: 100%;
}

#wrap #header #top-nav {
  position: relative;
  height: 100px;
  float: right;
}

#wrap #header #top-nav ul {
  float: left;
}

#wrap #header #top-nav ul li {
  position: relative;
  float: left;
  margin-left: 30px;
}

#wrap #header #top-nav ul li:first-child {
  margin-left: 0;
}

#wrap #header #top-nav ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-family: 'Binggrae-Bold';
  font-size: 28px;
  line-height: 100px;
}

#wrap #header #top-nav ul li:hover .sub-menu {
  visibility: visible;
  top: 100%;
  opacity: 1;
}

#wrap #header #top-nav ul li .sub-menu {
  z-index: 5;
  position: absolute;
  border: 1px solid #f0f0f0;
  visibility: hidden;
  top: calc( 100% - 3px);
  opacity: 0;
  transition: .3s;
}

#wrap #header #top-nav ul li .sub-menu li {
  width: 100%;
  margin: 0;
  background: white;
  box-sizing: border-box;
  padding: 0 10px;
  min-width: 150px;
  transition: .3s;
}

#wrap #header #top-nav ul li .sub-menu li:hover a {
  color: #ed1c24;
  font-weight: 800;
}

#wrap #header #top-nav ul li .sub-menu li a {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  color: #666;
  line-height: 40px;
  height: 40px;
  transition: 0s;
}

#wrap main {
  min-height: calc( 100vh - (100px + 80px + 51px ));
}

#wrap #footer {
  margin-top: 50px;
  border-top: 1px solid #f0f0f0;
  color: #666;
}

#wrap #footer > .container {
  padding: 30px 0;
  text-align: center;
}

#wrap #footer .container .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#wrap #footer .container .row .column {
  flex: 25%;
  padding: 0 10px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

#wrap #footer .container .row .column.footer-logo {
  flex: 100px;
  float: left;
  background-image: url("../img/logo_pc.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 128px;
  height: 32px;
  padding: 14px 0;
}

#wrap #footer .container .row .column.news p {
  margin-bottom: 20px;
}

#wrap #footer .container .row .column.news input[type=text] {
  border: 0;
  padding: 6px 10px;
  margin-right: 2px;
  width: calc(65% - 2px);
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 5px;
}

#wrap #footer .container .row .column.news input[type=submit] {
  border: 0;
  padding: 6px 0;
  width: 35%;
  background: #ec1d25;
  color: white;
  cursor: pointer;
}

#wrap #footer .container .row .column h4 {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 12px;
  margin-bottom: 20px;
}

#wrap #footer .container .row .column h4::before, #wrap #footer .container .row .column h4::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}

#wrap #footer .container .row .column h4::before {
  right: 0;
  background: black;
}

#wrap #footer .container .row .column h4::after {
  width: 60px;
  background: #ec1d25;
}

#wrap #footer .container .row .column ul li {
  border-bottom: 1px solid #f0f0f0;
  padding: 10px 0;
}

#wrap #footer .container .row .column ul li:first-child {
  padding-top: 0;
}

#wrap #footer .container .row .column p {
  line-height: 26px;
}

#wrap #footer .footer-top {
  padding: 60px 0 30px;
}

.swiper {
  z-index: 1;
  border-radius: 50px;
}

.mainbanner {
  width: 100%;
  height: 498px;
  border-radius: 50px;
}

.mainbanner div {
  background-repeat: no-repeat;
  background-size: contain;
  float: right;
  height: 100%;
  width: 40%;
  z-index: 1;
}

.mainbanner div.img1 {
  background-image: url("http://www.bing.co.kr/images/main/bg_main_prdcont01.png");
}

.mainbanner div.img2 {
  background-image: url("http://www.bing.co.kr/images/main/bg_main_prdcont02.png");
}

.mainbanner div.img3 {
  background-image: url("http://www.bing.co.kr/images/main/bg_main_prdcont03.png");
}

.mainbanner div.img4 {
  background-image: url("http://www.bing.co.kr/images/main/bg_main_prdcont04.png");
}

.mainbanner div.img5 {
  background-image: url("http://www.bing.co.kr/images/main/bg_main_prdcont05.png");
}

.mainbanner div.img6 {
  background-image: url("http://www.bing.co.kr/images/main/bg_main_prdcont06.png");
}

.mainbanner .textbox {
  position: absolute;
  float: left;
  box-sizing: border-box;
  padding: 50px 0 50px 80px;
}

.mainbanner .textbox strong {
  display: inline-block;
  margin-top: 40px;
  font-family: 'Binggrae';
  font-size: 42px;
  font-weight: 900;
  color: #222;
}

.mainbanner .textbox span {
  display: inline-block;
  margin-top: 40px;
  font-family: 'Binggrae-Bold';
  font-size: 28px;
  color: #248dd5;
}

.mainbanner .textbox p {
  margin-top: 20px;
}

.inner:nth-child(1) {
  margin-top: 100px;
}

.inner .top_items {
  text-align: center;
  margin: 100px 0;
}

.inner .top_items h3 {
  font-family: 'Binggrae';
  color: #f64e5a;
  line-height: 20px;
}

.inner .top_items span {
  display: block;
  font-family: 'Binggrae-Bold';
  font-size: 42px;
  margin-bottom: 20px;
}

.inner .top_items p {
  margin-top: 20px;
  font-size: 20px;
  line-height: 26px;
  color: #222;
}

.inner .box {
  margin-top: 50px;
  border-top: 1px solid #f0f0f0;
  height: 600px;
}

.inner .box:nth-of-type(2) {
  color: #0b8249;
}

.inner .box:nth-of-type(3) {
  color: #823b0b;
}

.inner .box:nth-of-type(4) {
  color: #7aba0a;
}

.inner .box:nth-of-type(5) {
  color: #f64e5a;
}

.inner .box:nth-of-type(6) {
  color: #ff6e2e;
}

.inner .box .items {
  text-align: center;
  font-family: 'Binggrae';
}

.inner .box .items h3 {
  font-size: 21px;
  margin-top: 50px;
}

.inner .box .items strong {
  font-size: 100px;
}

.inner .box.items p + a {
  margin-top: 50px;
}

body.subpage main .container {
  display: flex;
}

body.subpage main .container #lnb {
  flex: 230px;
  flex-shrink: 0;
  flex-grow: 0;
  box-sizing: border-box;
  padding-right: 50px;
}

body.subpage main .container #lnb ul li {
  border-bottom: 1px solid #f0f0f0;
}

body.subpage main .container #lnb ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 50px;
  font-size: 18px;
  box-sizing: border-box;
  transition: .5s;
}

body.subpage main .container #lnb ul li a:hover {
  padding-left: 20px;
}

body.subpage main .container #lnb ul li a.on {
  color: white;
  background: #ec1d25;
  padding-left: 20px;
}

body.subpage main .container .sub-title + .inner .tbl-header {
  margin-top: 50px;
}

body.subpage main .container span {
  position: relative;
  display: inline-block;
  padding-bottom: 8px;
  margin-left: 50px;
  line-height: 43px;
}

body.subpage main .container span::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  background: #ec1d25;
}

body.subpage main .container .inner + .inner {
  margin-top: 50px;
  padding-top: 50px;
  border-top: 1px solid #f0f0f0;
}

body.subpage main .container .inner .box {
  flex-wrap: wrap;
}
