@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: 'Binggrae-Bold';
  src: url("../font/BinggraeSamanco-Bold.otf") format("truetype");
}

@font-face {
  font-family: 'Binggrae';
  src: url("../font/Binggrae.otf") format("truetype");
}
