// common ui
// generanl button
.gbtn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: $gbtnColor;
  color: white;
  border:  1px solid $gbtnColor;
  &:hover {
    background: white;
    color: $gbtnColor;
  }
}

.box {
  &:nth-of-type(2){
    .gbtn {
      background:  $green;
      color: white;
      border:  1px solid  $green;
      &:hover {
        background: white;
        color:  $green;
      }
    }
  }
  &:nth-of-type(3){
    .gbtn {
      background:  $brown;
      color: white;
      border:  1px solid  $brown;
      &:hover {
        background: white;
        color:  $brown;
      }
    }
  }
  &:nth-of-type(4){
    .gbtn {
      background:  $rightGreen;
      color: white;
      border:  1px solid  $rightGreen;
      &:hover {
        background: white;
        color:  $rightGreen;
      }
    }
  }
  &:nth-of-type(5){
    .gbtn {
      background:  $red;
      color: white;
      border:  1px solid  $red;
      &:hover {
        background: white;
        color:  $red;
      }
    }
  }
  &:nth-of-type(6){
    .gbtn {
      background:  $orange;
      color: white;
      border:  1px solid  $orange;
      &:hover {
        background: white;
        color:  $orange;
      }
    }
  }
}
